<p id="notice"><%= notice %></p>

<p>
  <strong>Hotel name:</strong>
  <%= @hotel.hotel_name %>
</p>

<p>
  <strong>About hotel:</strong>
  <%= @hotel.about_hotel %>
</p>

<p>
  <strong>Address:</strong>
  <%= @hotel.address %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @hotel.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @hotel.longitude %>
</p>

<%= link_to 'Edit', edit_admin_hotel_path(@hotel) %> |
<%= link_to 'Back', admin_hotels_path %>
